@media only screen and (min-width: 980px) and (max-width: 1146px) {
.areas {
    margin: 2.5rem auto 0;	
    width: 100%;	
}
	
.exibir {
    max-width: 25rem;
    margin-top: 0.5rem;
}
}

@media only screen and (min-width: 788px) and (max-width: 979px) {
    
/*Principal*/

html, body {
    overflow-x: hidden;
}  
/*Carrossel*/

    .carousel, .slide {
    width: 100%;
}

.imagem-carrossel-1, .imagem-carrossel-2, .imagem-carrossel-3 {
    height: 15rem;
    width: 100%;
    margin: auto;
}

/*Areas de Atuação/Atendimento*/

/* .imagem-areas-atuacao, .imagem-atendimento {    
    margin: auto;    
}   */

.fonte-texto {
    margin-left: 0;     
}

.areas {
    margin-top: 0;     
    margin-left: -44rem;
    margin-bottom: 0;       
}

.exibir {
    max-width: 25rem;    
    margin-right: 12rem;
}

/*Equipe*/

.imagem-equipe, .imagem-atendimento, .imagem-areas-atuacao {
    margin: auto;
    width: 100%;
}

/*Formulário*/

.formulario {
    width: 50%;
    margin-left: 0;
    margin-top: 0;
}

/*Contato Direto*/

.contato-direto {
    margin-right: 0;  
    margin-top: 0rem;
    
}
.contato-direto-links {
    width: auto;
}    
}

@media only screen and (max-width: 787px) {

/*Principal*/
html, body {
    overflow-x: hidden;
}   

.container{
    width: 18rem;
}

/*Carrossel*/
.carousel, .slide {
    width: 100%;
}

.imagem-carrossel-1, .imagem-carrossel-2, .imagem-carrossel-3 {
    height: 18rem;
    width:100%;
}

/*Áreas de atuação/Atendimento*/

.row {
    margin-right: -20px;
    margin-left: -20px;
}

.card-largura{
	max-width: 5rem;   	
}

.card-largura:hover {
    max-width: 12rem;
}

.fonte-texto {
    margin-left: 0;             
}

.areas {
    margin-top: 2rem;         
    margin-bottom: 0;            
}

.exibir {
    max-width: 20rem;
    margin-top: 0.5rem;
}

/*Equipe*/

.imagem-equipe, .imagem-atendimento, .imagem-areas-atuacao{
    width: 100%;
    height: 100%;
}

.imagem-equipe {
    max-height: 18rem;
    max-width: 18rem;
}

.grid-6 {
    width:100% !important;
    float: left !important;    
}

/*Formulário*/

/*Contato*/
.contato p {
    text-align: justify;   
}

.formulario {
    width: 85%;
    margin: 0 auto 16rem auto;
    margin-top: 0;   
}

/*Contato Direto*/

.contato-direto {
    width: 80%;
    margin: 30rem 0 0 2rem;
    float: left;
    position: absolute;
} 
.contato-direto p{
    margin-top: 0.5rem;
}

.contato-direto-links {
    width: auto;
} 

.icones-contato {
    margin-top: 0;
}

}
@media (max-width: 600px) {
    #header {
        position: relative;
        opacity: 1;
        z-index: 1000;
    }
#menu {
    display: block;
    position: absolute;
    width: 100%;
    right: -64px;
    height: 0;
    background: #2c3e50;
    transition: 0.1s;
    z-index: 1000;
    visibility: hidden;
    overflow-y: hidden;
    padding-top: 0;     
    }
    #nav.active #menu {
        height: auto;
        visibility: visible;
        overflow-y: hidden;
        padding-bottom: 3.8rem;
        background-color: #2c3e50;
        margin-top: auto;
        transition: 0.6s;         
    }
    #menu a {
    color: #FDFDFD;
    font-weight: bold;
    padding: 0.5rem 0;     
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);	
    }
    #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
    }
    #hamburger {
    display: block;
    border-top: 2px solid;
    width: 20px;   
    color: #FDFDFD;
    }
    #hamburger::after,
    #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    min-height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
    color: #FDFDFD;    
    }
    #nav.active #hamburger {
    border-top-color: transparent;    
    }
    #nav.active #hamburger::before {
    transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;

    }
    .carrossel {
        margin: 0;
    
    }
    .link-topo {
        width: 30px;
        height: 30px;
    }
    .show-button .link-topo {
        right: 3px;	
    }
}




